<div style="text-align:center; margin-top: 20px;">

<mat-card style="margin:15px;">
    <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>
      <p>
        Allows to resize multiple images to dimension 1000px by 1000px.
      </p>
    </mat-card-subtitle>
    <mat-card-footer>
      Contact: jigarsnaik@gmail.com
    </mat-card-footer>
  </mat-card>
</div>

