<div style="text-align:center; margin-top: 20px; ">
  <mat-card style="margin:15px;">
    <mat-card-title>Resize multiple images</mat-card-title>
    <mat-card-header>Maximum image size 10 MB.</mat-card-header>
    <mat-card-header>Maximum total image size 300 MB.</mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <button (click)="fileInput.click()" color="primary" mat-raised-button>
          Select Images
        </button>
      </div>
      <div class="button-row">
        <button (click)="onUpload()" [disabled]="!selectedFiles" color="accent" mat-flat-button [disabled]="selectedFiles.length == 0">
          <mat-icon>upload</mat-icon>
          Upload & Resize
        </button>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar [value]="progress"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <input #fileInput
         (change)="onFileSelected($event); progress=0;"
         accept="image/*"
         id="fileUpload"
         multiple="multiple"
         name="fileUpload"
         style="display:none;"
         type="file"/>
</div>
